<footer id="main-footer">

        <div class="eh-main-front-section ">
            <div class="eh-main-front-section-inner">
                <div id="jd3xf9s2sz2uz88dysugsynbblfdf66r" class="row layout-sll-ready layout-sll-tipe-1 dark"
                    style="padding-top: 75px; padding-bottom: 30px; background-color: #333333;">
                    <div class="container no-padding">
                        <div class="komponen-sll-ready col-xs-12">
                            <div id="mid-section" class="sub-komponen-sll left skssl-sub-section"
                                style="color: #000000; text-align: left; background-image: url(/image/1638869882-890430/16661582958534-eJifM8HYSaOplcqS4ax0Vtq2yGg3glDs98hpIKdL.jpg);; background-repeat: repeat;; background-position: center center;">
                                <div class="eh-main-front-section ">
                                    <div class="eh-main-front-section-inner">
                                        <div id="kvzfgftp53b9mxsp1mo8sc5aqlsdkd4o"
                                            class="row layout-sll-ready layout-sll-tipe-11 " >

                                            <div class="komponen-sll-ready col-md-3 col-sm-6 col-xs-12">
                                                <div id="dq9kisg03brkwufyhtyxu4ybh1emvmmk"
                                                    class="sub-komponen-sll skssl-logo-utama"
                                                    style="color: #000000; text-align: left; margin-bottom: 20px">
                                                    <img src='/image/1740371105-971460/17417498501690-SwMz0ojiAL.png'
                                                        alt='tiraztravel.id' />
                                                </div>
                                                <div id="ujlvb3s2czbctbxwilsgwvrfinqu2u1p"
                                                    class="sub-komponen-sll skssl-wysiwyg"
                                                    style="color: #ffffff; text-align: left; margin-bottom: 20px">
                                                    <p>Tiraz Travel adalah perusahaan Travel professional telah 10 tahun
                                                        lebih berkecimpung di dunia haji dan umrah</p>
                                                </div>
                                                <div id="nlqakvnqshvdpgswofqgsciqxxl7oi0d"
                                                    class="sub-komponen-sll skssl-sosial-media"
                                                    style="color: #000000; text-align: left">
                                                    <a href="https://www.facebook.com/profile.php?id=61564952639609"
                                                        target="_blank" rel="nofollow"
                                                        class=" icon-sosial-media icon-horizontal">
                                                        <img style="max-width: 28px; max-height: 28px;"
                                                            src="/image/1740371105-971460/17403711839483-s8EnNWCuWD.png"
                                                            alt="Facebook">

                                                    </a>
                                                    <a href="#" target="_blank" rel="nofollow"
                                                        class=" icon-sosial-media icon-horizontal">
                                                        <img style="max-width: 28px; max-height: 28px;"
                                                            src="/image/1740371105-971460/17403711836824-MdeQ7lUtjV.png"
                                                            alt="Google+">

                                                    </a>
                                                    <a href="https://www.youtube.com/@TirazTravel" target="_blank"
                                                        rel="nofollow" class=" icon-sosial-media icon-horizontal">
                                                        <img style="max-width: 28px; max-height: 28px;"
                                                            src="/image/1740371105-971460/17403711847180-n1l4wSQOQh.png"
                                                            alt="YouTube">

                                                    </a>
                                                    <a href="https://www.instagram.com/tiraztravel/" target="_blank"
                                                        rel="nofollow" class=" icon-sosial-media icon-horizontal">
                                                        <img style="max-width: 28px; max-height: 28px;"
                                                            src="/image/1740371105-971460/17419342407037-iB5JnLD1Sr.png"
                                                            alt="Instagram">

                                                    </a>

                                                </div>


                                            </div>
                                            <div class="komponen-sll-ready col-md-3 col-sm-6 col-xs-12">
                                                <div id="xcanpnhwcsikuagssgyxwnk7jqdrzw30"
                                                    class="sub-komponen-sll title-footer no-uppercase skssl-heading"
                                                    style="color: #ffffff; text-align: left; margin-bottom: 20px">
                                                    <h4 class="">Informasi</h4>

                                                </div>
                                                <div id="eolhbsnae9nlwkzkgsbevblqggft5dao"
                                                    class="sub-komponen-sll footer-ul-list skssl-menu"
                                                    style="color: #ffffff; text-align: left">
                                                    <ul>
                                                        <li>
                                                            <a target="_self"
                                                                href='/halaman/metode-pembayaran'>Metode
                                                                Pembayaran</a>
                                                        </li>
                                                        <li>
                                                            <a target="_self"
                                                                href='/halaman/syarat-ketentuan'>Syarat
                                                                Ketentuan</a>
                                                        </li>
                                                        <li>
                                                            <a target="_self"
                                                                href='/halaman/kebijakan-privasi'>Kebijakan
                                                                Privasi</a>
                                                        </li>
                                                        <li>
                                                            <a target="_self"
                                                                href='/blog'>Blog</a>
                                                        </li>
                                                    </ul>

                                                </div>


                                            </div>
                                            <div class="komponen-sll-ready col-md-3 col-sm-6 col-xs-12">
                                                <div id="v4yuauu69hveuhwntoxsxshdxj5z1qgh"
                                                    class="sub-komponen-sll title-footer no-uppercase skssl-heading"
                                                    style="color: #ffffff; text-align: left; margin-bottom: 20px">
                                                    <h4 class="">Layanan</h4>

                                                </div>
                                                <div id="ae5qtrtjfldqgfzumg4q7jwsuuggyebg"
                                                    class="sub-komponen-sll footer-ul-list skssl-menu"
                                                    style="color: #ffffff; text-align: left">
                                                    <ul>
                                                        <li>
                                                            <a target="_self"
                                                                href='/transaksi/paket-haji'>Layanan
                                                                Paket Haji</a>
                                                        </li>
                                                        <li>
                                                            <a target="_self"
                                                                href='/transaksi/paket-umrah'>Layanan
                                                                Paket Umrah</a>
                                                        </li>
                                                        <li>
                                                            <a target="_self"
                                                                href='/transaksi/paket-wisata'>Layanan
                                                                Paket Wisata</a>
                                                        </li>
                                                        <li>
                                                            <a target="_self"
                                                                href='/transaksi/paket-la'>Layanan
                                                                Paket LA</a>
                                                        </li>
                                                    </ul>

                                                </div>


                                            </div>
                                            <div class="komponen-sll-ready col-md-3 col-sm-6 col-xs-12">
                                                <div id="mrttbosmu8juvcsqt6x79sfkmz46dwav"
                                                    class="sub-komponen-sll title-footer no-uppercase skssl-heading"
                                                    style="color: #ffffff; text-align: left; margin-bottom: 20px">
                                                    <h4 class="">Jam Operasional</h4>

                                                </div>
                                                <div id="qhjegv02le7x8fcmy73tomtsuv0jaxo8"
                                                    class="sub-komponen-sll skssl-wysiwyg"
                                                    style="color: #ffffff; text-align: left">
                                                    <p>Senin - Jumat, 09.00 - 17.00</p>
                                                    <p>Jl. Buncit Raya No. 20, Pajaten, Pasar Minggu, Jakarta Selatan,
                                                        DKI Jakarta, Indonesia, 12510</p>
                                                </div>
                                                <div id="xsqrhkjy1jw7saof14z6d43vysrislma"
                                                    class="sub-komponen-sll skssl-code"
                                                    style="color: #ffffff; text-align: left">
                                                    <i class="fa fa-mobile-phone"></i> +62 822-8999-8243
                                                </div>
                                                <div id="mj0cf6dpse35hix2fqv6ne6e2wmetrff"
                                                    class="sub-komponen-sll skssl-code"
                                                    style="color: #ffffff; text-align: left">
                                                    <i class="fa fa-envelope"></i> info.tiraz1@gmail.com
                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div id="qcn3byifolhiw00zs8vbikafs4tqd8ad" class="sub-komponen-sll skssl-sub-section"
                                style="color: #000000; text-align: left; margin-top: 40px">
                                <div class="eh-main-front-section ">
                                    <div class="eh-main-front-section-inner">
                                        <div id="f6mrqkwyo89byumbyssduw9qgajz43gn"
                                            class="row layout-sll-ready layout-sll-tipe-2 " >

                                            <div class="komponen-sll-ready col-sm-6 col-xs-12">
                                                <div id="ftjcxl3awaay7ue2hislammcro1cvcgr"
                                                    class="sub-komponen-sll title-text skssl-heading"
                                                    style="color: #ffffff; text-align: left">
                                                    <h2 class="">Dapatkan info terbaru dari kami</h2>

                                                </div>


                                            </div>
                                            <div class="komponen-sll-ready col-sm-6 col-xs-12">
                                                <div id="oiimp12vlkatx6vnq0zwjiwvni6y5fjh"
                                                    class="sub-komponen-sll sbscrb skssl-registrasi-subscriber"
                                                    style="color: #000000; text-align: left">
                                                    <div class="mb5">Dapatkan informasi terbaru dari kami</div>
                                                    <form onsubmit='return false;' id="awd3oikxfsvvhfbl3zkbhkgzsrasdis5"
                                                        class='subscriber-form'>
                                                        <div class="input-group">
                                                            <input class="form-control" type="email" name="email"
                                                                id="email" value placeholder="Masukkan email Anda..."
                                                                required="required">
                                                            <dic class="input-group-btn">
                                                                <button type="submit" class="btn btn-primary"><i
                                                                        class="fa fa-send"></i></button>
                                                            </dic>
                                                        </div>
                                                        <div style="margin: 5px 0 0 0;">
                                                            <small>&#42;Kami tidak mengirimkan SPAM</small>
                                                        </div>
                                                        <input type="hidden" name="_token"
                                                            value="5oPt0jYzuzeVNsdEzwE7QiwpExtbN7RR7zN3naZO">
                                                    </form>

                                                    <script>
                                                        $(document).ready(function () {
                                                            $('#awd3oikxfsvvhfbl3zkbhkgzsrasdis5').submit(function () {
                                                                modalAlert('Registrasi Subscriber', '');

                                                                var data = getFormData('awd3oikxfsvvhfbl3zkbhkgzsrasdis5');
                                                                ajaxTransfer('https://tiraztravel.id/subscriber/load-form', data, '#modal-output');
                                                            });
                                                        })
                                                    </script>

                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div id="fi70frsymbtphobdaa5bltbyqnxfrbcp"
                                class="sub-komponen-sll border-atas skssl-wysiwyg"
                                style="color: #000000; text-align: left; margin-top: 70px; margin-bottom: 30px; border-top: 1px solid #686868;">

                            </div>
                            <div id="copyright-footer" class="sub-komponen-sll skssl-wysiwyg"
                                style="color: #ffffff; text-align: center">
                                <p>Copyright &copy; 2025 - tiraztravel.id</p>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </footer>
