 <header id="main-header">

        <div class="eh-main-front-section ">
            <div class="eh-main-front-section-inner">
                <div id="top-navbar-section" class="row layout-sll-ready layout-sll-tipe-6 "
                    style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #e1e1e1; background-color: #f38121;">
                    <div class="container no-padding">
                        <div class="komponen-sll-ready col-sm-8 col-xs-12">
                            <div id="gjuszoxbr1svbccvsjf7x4qywsrtb2yr" class="sub-komponen-sll skssl-wysiwyg"
                                style="color: #ffffff; text-align: left">
                                <p>A Meaningful Journey, Exploring With Spirit</p>
                            </div>


                        </div>
                        <div class="komponen-sll-ready col-sm-4 col-xs-12">
                            <div id="d9mczgnzmvbthuexciheueej5f9hns0z"
                                class="sub-komponen-sll skssl-code hidden-sm hidden-xs"
                                style="color: #ffffff; text-align: right">
                                <i class="fa fa-mobile-phone"></i> +62 822-8999-8243
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="eh-main-front-section ">
            <div class="eh-main-front-section-inner">
                <div id="navbar-section" class="row layout-sll-ready layout-sll-tipe-7 strip"
                    style="padding-top: 15px; padding-bottom: 15px">
                    <div class="container no-padding">
                        <div class="komponen-sll-ready col-sm-4 col-xs-12">
                            <div id="btmxlukd71tbswsax6yubxrvvrsfdwiq"
                                class="sub-komponen-sll left skssl-menu hidden-sm hidden-xs"
                                style="color: #252525; text-align: left">
                                <ul class='sf-menu horizontal-menu'>
                                    <li>
                                        <a target="_self" href='/'>Home</a>
                                    </li>
                                    <li>
                                        <a class='dropdown-toggle' id='dropdown-c4ca4238a0b923820dcc509a6f75849b'
                                            data-toggle='dropdown' aria-haspopup='true'
                                            aria-expanded='false'>Layanan</a>
                                        <ul class='dropdown-menu'
                                            aria-labelledby='dropdown-c4ca4238a0b923820dcc509a6f75849b'>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/paket-haji'>Paket Haji</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/paket-umrah'>Paket Umrah</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/paket-wisata'>Paket
                                                    Wisata</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/umrah-private'>Umrah
                                                    Private</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/badal-haji'>Badal Haji</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/badal-umrah'>Badal Umrah</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/tiket-pesawat'>Tiket
                                                    Pesawat</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/paket-katering'>Paket
                                                    Katering</a>
                                            </li>
                                            <li>
                                                <a target="_self" href='/transaksi/paket-la'>Paket
                                                    LA</a>
                                            </li>
                                            <li>
                                                <a target="_self" href='/transaksi/visa'>Visa</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/paket-perlengkapan'>Paket
                                                    Perlengkapan</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/produk-lain'>Produk Lain</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/pesan-tiket-pesawat'>Pemesanan
                                                    Tiket Pesawat</a>
                                            </li>
                                            <li>
                                                <a target="_self"
                                                    href='/transaksi/hotel'>Pemesanan Hotel</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a target="_self" href='/hubungi-kami'>Kontak</a>
                                    </li>
                                    <li>
                                        <a target="_self"
                                            href='/'>Promo</a>
                                    </li>
                                </ul>

                            </div>


                        </div>
                        <div class="komponen-sll-ready col-sm-4 col-xs-12">
                            <div id="nsecrnme4zdscizgu9dn4mohmgch3zza" class="sub-komponen-sll logo skssl-logo-utama"
                                style="color: #000000; text-align: center">
                                <a href='/'><img
                                        src='/image/1740371105-971460/17417498501690-SwMz0ojiAL.png'
                                        alt='tiraztravel.id' /></a>
                            </div>


                        </div>
                        <div class="komponen-sll-ready col-sm-4 col-xs-12">
                            <div id="pss12fokat2prdlhe6sseonjqsnxinmg"
                                class="sub-komponen-sll right skssl-menu hidden-sm hidden-xs"
                                style="color: #252525; text-align: right">
                                <ul class='sf-menu horizontal-menu'>
                                    <li>
                                        <a target="_self" href='/tentang-kami'>Tentang
                                            Kami</a>
                                    </li>
                                    <li>
                                        <a target="_self" href='/testimonial'>Testimonial</a>
                                    </li>
                                    <li>
                                        <a target="_self" href='/blog'>Blog</a>
                                    </li>
                                    <li>
                                        <a target="_self" href='/'>Login</a>
                                    </li>
                                </ul>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>



    </header>