<div class="hidden" id="list-menu-responsive">
    <a id="lmr-close"><i class="fa fa-times"></i></a>
    <div class="lmr-title">Menu Utama</div>

    <ul>
        <li><a target="_self" href="/">Beranda</a></li>
        <li>
            <a target="_self" href="#">Layanan</a>
            <ul>
                <li><a target="_self" href="/transaksi/paket-haji">Paket Haji</a></li>
                <li><a target="_self" href="/transaksi/paket-umrah">Paket Umrah</a></li>
                <li><a target="_self" href="/transaksi/paket-wisata">Paket Wisata</a></li>
                <li><a target="_self" href="/transaksi/umrah-private">Umrah Private</a></li>
                <li><a target="_self" href="/transaksi/badal-haji">Badal Haji</a></li>
                <li><a target="_self" href="/transaksi/badal-umrah">Badal Umrah</a></li>
                <li><a target="_self" href="/transaksi/tiket-pesawat">Tiket Pesawat</a></li>
                <li><a target="_self" href="/transaksi/paket-katering">Paket Katering</a></li>
                <li><a target="_self" href="/transaksi/paket-la">Paket LA</a></li>
                <li><a target="_self" href="/transaksi/visa">Visa</a></li>
                <li><a target="_self" href="/transaksi/paket-perlengkapan">Paket Perlengkapan</a></li>
                <li><a target="_self" href="/transaksi/produk-lain">Produk Lain</a></li>
                <li><a target="_self" href="/transaksi/pesan-tiket-pesawat">Pemesanan Tiket Pesawat</a></li>
                <li><a target="_self" href="/transaksi/hotel">Pemesanan Hotel</a></li>
            </ul>
        </li>

        <li><a target="_self" href="/hubungi-kami">Hubungi Kami</a></li>
        <li><a target="_self" href="/blog">Blog</a></li>
        <li><a target="_self" href="/halaman/tentang-kami">Tentang Kami</a></li>
        <li><a target="_self" href="/testimonial">Testimonial</a></li>
        <li><a target="_self" href="/">Login / Registrasi</a></li>
    </ul>
</div>

<a id="responsive-menu-btn"
   class="active-background-color inactive hidden-lg hidden-md">
   MENU
</a>
